body {
  overflow: hidden;
}

.map {
  z-index: -1;
  position: absolute;
  top: 60px;
  height: 100vh;
}

#mainNav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: darkred;
  border-bottom: 2px solid white;
}

#mainNav #menuLogo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 40px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#mainNav #menuLogo:hover, #mainNav #menuLogo.active {
  -webkit-filter: none;
          filter: none;
}

#mainNav .dropdown-menu {
  -webkit-filter: drop-shadow(0 0 5px grey);
          filter: drop-shadow(0 0 5px grey);
  min-width: 120px !important;
  margin: 8px;
  background: white !important;
  border: 3px solid darkred;
}

#mainNav .dropdown-menu .dropdown-item {
  cursor: pointer;
  text-align: center;
  color: darkred;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#mainNav .dropdown-menu .dropdown-item:hover {
  background: white !important;
  color: black;
}

#login {
  display: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: darkred;
  position: absolute;
}

#login #backgroundImg {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .2;
  height: 100%;
}

#login .title {
  -webkit-filter: drop-shadow(0 0 30px black);
          filter: drop-shadow(0 0 30px black);
  font-size: 10vw;
  margin-bottom: 5vh;
}

#login .access {
  -webkit-filter: drop-shadow(0 0 10px black);
          filter: drop-shadow(0 0 10px black);
  font-size: 2.5vw;
}

#login #google {
  width: 25vw;
  max-width: 300px;
  background: white;
  margin-top: 1vh;
  margin-bottom: 8vh;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#login #google:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

#login #loginContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#search {
  width: 100%;
  height: auto;
  background: grey;
  border-bottom: 2px solid black;
}

#search #selectSport, #search #selectTime, #search #selectSetting {
  margin-top: 8px;
  margin-left: 15px;
  height: 35px;
  font-size: 15px;
  width: 20vw;
  min-width: 130px;
  max-width: 300px;
}

#search #selectTime, #search #selectSetting {
  margin-left: 5px;
}

#search .btn {
  width: 75px;
  height: 40px;
  margin-top: 6px;
  margin-left: 10px;
  background: lime;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
}

#search .btn:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

#search #close {
  right: 7px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

#search #close:hover {
  color: white;
}

#search #resultArea {
  background: gold;
  margin-top: 3px;
  border-top: 2px solid black;
}

#search #resultArea .titles div {
  font-weight: 700;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

#search #resultArea .result div {
  background: white;
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}

#search #noResults {
  background: gold;
  margin-top: 3px;
  border-top: 2px solid black;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 120px !important;
  }
  .access {
    font-size: 30px !important;
  }
}
/*# sourceMappingURL=index.css.map */