body {
    overflow: hidden;
    background: darkred;
}

.map {
    z-index: -1;
    position: absolute;
    top: 60px;
    height: 100vh;
}

#mainNav {
    user-select: none;
    background: darkred;
    border-bottom: 2px solid white;
    #menuLogo {
        filter: invert(100%);
        width: 40px;
        cursor: pointer;
        transition: 0.2s;
        &:hover, &.active {
            filter: none;
        }
    }
    .dropdown-menu {
        filter: drop-shadow(0 0 5px grey);
        min-width: 120px !important;
        margin: 8px;
        background: white !important;
        border: 3px solid darkred;
        .dropdown-item {
            cursor: pointer;
            text-align: center;
            color: darkred;
            font-weight: bold;
            transition: 0.2s;
            &:hover {
                background: white !important;
                color: black;
            }
        }
    }
}

@mixin centered(){
    margin: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
#login {
    display: none;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: darkred;
    position: absolute;
    #backgroundImg {
        @include centered();
        opacity: .2;
        height: 100%;
    }
    .title {
        filter: drop-shadow(0 0 30px black);
        font-size: 10vw;
        margin-bottom: 5vh;
        user-select: none;
    }
    .access {
        filter: drop-shadow(0 0 10px black);
        font-size: 2.5vw;
        user-select: none;
    }
    #google {
        width: 25vw;
        max-width: 300px;
        background: white;
        margin-top: 1vh;
        margin-bottom: 8vh;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 10px;
        &:hover { filter: brightness(80%); }
    }
    #loginContainer {
        @include centered();
        text-align: center;
    }
}

#search {
    width: 100%;
    height: auto;
    background: grey;
    border-bottom: 2px solid black;
    #selectSport {
        margin-top: 8px;
        margin-left: 15px;
        height: 35px;
        font-size: 15px;
        width: 20vw;
        min-width: 130px;
        max-width: 300px;
    }
    #selectTime, #selectSetting {
        @extend #selectSport;
        margin-left: 5px;
    }
    .btn {
        width: 75px;
        height: 40px;
        margin-top: 6px;
        margin-left: 10px;
        background: lime;
        transition: 0.3s;
        border: 0;
        &:hover {
            filter: brightness(85%);
        }
    }
    #searchClose {
        right: 7px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
    #resultArea {
        background: gold;
        margin-top: 3px;
        border-top: 2px solid black;
        .titles div {
            font-weight: 700;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid black;
        }
        .result {
            div {
                background: white;
                width: 100%;
                padding: 5px;
                border: 1px solid black;
            }
        }
    }
    #noResults {
        background: gold;
        margin-top: 3px;
        border-top: 2px solid black;
    }
}

#profileArea {
    width: 100%;
    height: auto;
    background: grey;
    border-bottom: 2px solid black;
    #profileClose {
        right: 7px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
    #profileLine {
        width: 100%;
        height: 2px;
        background: black;
    }
    #changeArea {
        background: lightgrey;
        padding-top: 5px;
        padding-bottom: 8px;
        #selectAge {
            margin-top: 5px;
            margin-left: 10px;
            height: 35px;
            font-size: 15px;
            width: 60px;
        }
        #selectType {
            @extend #selectAge;
            width: 20vw;
            min-width: 130px;
            max-width: 300px;
        }
        #typeDescription {
            @extend #selectAge;
            width: 65vw;
            min-width: 130px;
        }
        #enterProfile {
            width: 75px;
            height: 38px;
            margin-top: 5px;
            margin-left: 30px;
            background: dodgerblue;
            transition: 0.3s;
            border: 0;
            &:hover {
                filter: brightness(130%);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 120px !important;
    }
    .access {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 15vw !important;
    }
    .access {
        font-size: 5vw !important;
    }
    #google {
        width: 50vw !important;
    }
    #search {
        width: 70vw;
        height: auto;
        background: grey;
        border: 2px solid black;
        #container { display: block !important; }
        p { text-align: center !important; }
        #selectSport, #selectTime, #selectSetting {
            margin-left: 6vw !important;
            margin-top: 8px;
            font-size: 15px;
            width: 55vw;
        }
        .btn {
            margin-bottom: 10px;
            width: 25vw;
            margin-top: 6px;
            margin-left: 22vw;
        }
        #close {
            top: 65px;
            left: 7px;
            font-size: 5vw;
        }
    }
}